
tempCodeRunnerFile.py

venv/
__pycache__/
/Authentication_Microservice/__pycache__/
/Policy_Management_Microservice/__pycache__/
/Claims_Management_Microservice/__pycache__/
/Authentication_Microservice/__pycache__/
/Payment_Management_Microservice/__pycache__/

/Authentication_Microservice/src/__pycache__/
/Policy_Management_Microservice/src/__pycache__/
/Claims_Management_Microservice/src/__pycache__/
/Payment_Management_Microservice/src/__pycache__/
/Authentication_Microservice/src/__pycache__/
