/gestion_cotizaciones_microservicio/_pycache_/
/gestion_pagos_microservicio/_pycache_/
/gestion_reclamos_microservicio/_pycache_/
/gestion_respuestas_microservicio/_pycache_/

/gestion_pagos_microservicio/GestionPagos/
/gestion_cotizaciones_microservicio/GestionCotizacion/
/gestion_reclamos_microservicio/GestionReclamos/
/gestion_respuestas_microservicio/GestionRespuestas/

tempCodeRunnerFile.py

venv/
__pycache__
